# byte-compiled / optimized / dll files
__pycache__/
*.py[cod]
*$py.class
.vscode/launch.json

visualize_events.ipynb

# any data figures and their directories
*.csv
*.pickle
*.pkl
*.png
data/*
figures/*

# OSX files
.DS_Store

# file with personal access tokens
set_env.sh
