# byte-compiled / optimized / dll files
__pycache__/
*.py[cod]
*$py.class


# any data/img files
*.csv
*.pickle
*.pkl
*.png

# OSX files
.DS_Store

# file with personal tokens for canvas api
set_env.sh
